
.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @include title
    
}



@media (min-width: 768px) {
    .header {
        @include title-tablet

    }
  }
  
  @media (min-width: 1200px) {
    .header {
        @include title-pc

    }
  }