
.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @include title-mobile;
    filter: drop-shadow(0 20px 60px rgba(0, 0, 0, 0.16));
    a:hover{
        color: $primary-color;
        filter: drop-shadow(0 20px 60px $second-color);
    }
}



@media (min-width: 768px) {
    .header {
        @include title-tablet;
        font-size: 40px;
    }
  }
  
  @media (min-width: 1200px) {
    .header {
        @include title-pc;
        font-size: 45px;

    }
  }