.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Maven Pro', sans-serif;

    font-size: 20px;

    h1 {text-decoration: none;}
}


@media (min-width: 768px) {
    .header {
        font-size: 32px;
    }
  }
  
  @media (min-width: 1200px) {

  }