.main {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    @include title-tablet;

    .projects {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
       
    }
    
    }
    
    .main__image-projects{
        width: 100%;
        height: auto;
        &:hover{
         
            transform: rotate(+10deg);
            -ms-transform:rotate(+10deg); // IE 9 
            -moz-transform:rotate(+10deg); // Firefox 
            -webkit-transform:rotate(+10deg); // Safari and Chrome 
            -o-transform:rotate(+10deg); // Opera

            transition: 0.3s;
            -webkit-transition: 0.3s; // IE 9
            -moz-transition: 0.3s; // Firefox
            -ms-transition: 0.3s; // Safari and Chrome 
            -o-transition: 0.3s; // Opera 
        
    }

}

@media (min-width: 768px) {
    .main{
        @include title-pc;
        padding: 5px;
        padding-top: 20px;


        .projects {
            display:flex;
            flex-direction: row-reverse;
            padding: 10px;

        }
        .code{
            height: 100vh;
            }

        .main__image-projects{
            width: 70vw;
            height: auto;
        }
    }
  }
  
  @media (min-width: 1200px) {
    .main{
        @include title-pc;

    }
  }