.photoproject--list-container{
    .photoproject--principal-projects{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        padding: 0.75rem;
    }

    .photoproject--serie-projects{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        padding-left: 0.75rem;
        padding-right: 0.75rem;


        .photoproject--serie-projects-element {

            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            @include text;
            padding: 0.75rem;
       

        }
        .serie-projects-element--image-container {
            height: 300px;
        }

        .ana{
            background-image: url("../../images/ana/ana1.jpg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            
        }
        .arturo {
            background-image: url("../../images/arturo/arturo1.jpg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .cristi {
            background-image: url("../../images/cristi/cristi1.jpg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}