@mixin title-mobile {
    font-family: $primary-font;    
    font-size: 28px;
}

@mixin title-tablet {
    font-family: $primary-font;    
    font-size: 32px;
}

@mixin title-pc{
    font-family: $primary-font;    
    font-size: 35px;
}

@mixin text {
    font-family: $secondary-font;    
    font-size: 14px;
    color: black;
line-height: 1.5;
    
}
@mixin text-pc {
    font-family: $secondary-font;    
    font-size: 18px;
    color: black;
line-height: 1.5;
}