
.link {
    color:$primary-color;
}

.link:visited {
    color:$primary-color;
}
.link:hover,
.link:active,
.link:focus
 {
   color: $second-color;
}


a {
    color:$primary-color;
}

a:visited {
    color:$primary-color;
}
a:hover,
a:active,
a:focus
 {
   color: $second-color;
}


body {
    background-image: url("../../images/background-png.png");
}